<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hello synyx</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script async src="https://{{jitsiDomain}}/external_api.js"></script>
		<script nonce="{{{cspNonceValue 'script'}}}">
			window.synyxoffice = {
				jitsiDomain: "{{jitsiDomain}}",
				player: {
					name: "{{player.name}}",
					email: "{{player.email}}",
					avatarUrl: "{{player.avatarUrl}}",
				},
			};
		</script>
		<script
			async
			type="module"
			crossorigin="use-credentials"
			src="/js/app.js"
		></script>
	</head>
	<body class="bg-teal-500">
		{{> chat}}
		{{> whiteboard}}
		<ul
			id="action-menu"
			class="hidden fixed z-40 px-1 text-black text-xs shadow-outline font-bold font-mono bg-white opacity-75 border border-black rounded"
		>
		</ul>
		<div class="absolute top-0 left-0 p-4 z-10">
			<ul class="font-mono">
				<li>
					email: {{email}}
				</li>
				<li>
					username: {{name}}
				</li>
				<li>
					nickname: {{nickname}}
				</li>
			</ul>
		</div>
		<div class="absolute top-0 right-0 p-4 z-10">
			<form id="logout-form" action="/logout" method="POST">
				<input type="hidden" name="_csrf" value="{{{csrf}}}" />
				<button
					type="submit"
					class="border border-white text-white font-bold py-2 px-4 rounded-sm"
				>
					Feierabend
				</button>
			</form>
		</div>
		<div class="w-screen h-screen relative">
			{{> office}}
		</div>
		{{> application-version-info}}
	</body>
</html>
