<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hello synyx</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script async src="https://{{jitsiDomain}}/external_api.js"></script>
		<script nonce="{{{cspNonceValue 'script'}}}">
			window.synyxoffice = {
				jitsiDomain: "{{jitsiDomain}}",
				player: {
					name: "{{player.name}}",
					email: "{{player.email}}",
					avatarUrl: "{{player.avatarUrl}}",
				},
			};
		</script>
		<script type="module" crossorigin="use-credentials" src="/js/app.js"></script>
	</head>
	<body class="bg-teal-500">
		<div id="action-menu" class="hidden fixed z-40 px-1 text-black text-xs shadow-outline font-bold font-mono bg-white opacity-75 border border-black rounded">
			<ul>
				<li>
					<button id="start-chat">
						hier ein Gespräch starten
					</button>
				</li>
			</ul>
		</div>
		<div id="chat-root" class="hidden fixed top-0 left-0 flex items-center justify-center p-12 w-screen h-screen rounded">
			<div id="chat-root-inner" class="w-0 h-0 border border-8 bg-white flex flex-col">
				<div class="bg-teal-900 flex justify-between p-2 text-white">
					<div class="flex">
						<div class="mr-4">
							Kamera <span id="jitsi-camera-status" class="font-bold">AN</span>
						</div>
						<div>
							Mikrofon <span id="jitsi-microphone-status" class="font-bold">AN</span>
						</div>
					</div>
					<button id="close-chat-button" class="px-2 py-1 text-sm font-light hover:underline">
						Gespräch verlassen
					</button>
				</div>
				<div id="jitsi" class="flex-1">
					<!-- jitsi iframe -->
				</div>
			</div>
		</div>
		<div class="absolute top-0 left-0 p-4 z-10">
			<ul class="font-mono">
				<li>
					email: {{email}}
				</li>
				<li>
					username: {{name}}
				</li>
				<li>
					nickname: {{nickname}}
				</li>
			</ul>
		</div>
		<div class="absolute top-0 right-0 p-4 z-10">
			<form id="logout-form" action="/logout" method="POST">
				<input type="hidden" name="_csrf" value="{{{csrf}}}" />
				<button type="submit" class="border border-white text-white font-bold py-2 px-4 rounded-sm">
					Feierabend
				</button>
			</form>
		</div>
		<!-- prettier-ignore -->
		<div class="w-screen h-screen relative">
			<svg id="office" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1252.85 1057.94">
				<defs>
					<style nonce="{{{cspNonceValue 'style'}}}">
						.cls-1 {
							fill: #eee;
						}

						.cls-2 {
							fill: #202020;
						}

						.cls-3 {
							fill: #bdbcbc;
						}

						.cls-4 {
							fill: #f9dcc0;
						}

						.cls-5 {
							fill: #333;
						}
					</style>
				</defs>
				<path id="background" class="cls-1" d="M1253.37,337.86c-52.84-.25-101.39-22.75-137.22-62.43-22.91-28.65-45.57-62.27-67.18-90.25.71.81,1.32,1.52,1.81,2.11l-86-120.09C888-30.79,750-16.18,687.39,68.92,650.09,121.46,637.24,210,625.11,265c-.54,1.84-1.05,3.58-1.53,5.2C599.4,348.09,592,390.59,567.42,433.45c-34,51.42-56,72.87-116.61,111.43l-2.28-4S79.56,739,76.24,741.39a167.89,167.89,0,0,0-61.69,73.16C-34,928.13,50,1045.63,165.44,1048.77h9.28v8.44H318.08v-8.4l935.29.28Zm-598.61-141c13.27-35.54,20.3-81.19,40-109.65,50.81-79.37,158.73-93.65,230-37.48,23.9,17.93,48.61,58.59,60.83,73.91C877.61,52.29,723.2,87.59,654.76,196.91Z" transform="translate(-0.53 0.73)"/>
				<rect id="space-empty2" class="cls-2" x="738.47" y="726.33" width="29" height="90"/>
				<rect id="space-empty" class="cls-2" x="878.47" y="726.33" width="37" height="90"/>
				<g id="floors">
					<path id="floor-toilet-outside" class="cls-3" d="M1031,645.6h76v63h-76Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-office" class="cls-2" d="M572.4,435.7c25.4-45.3,31.1-82.8,55.8-162.3,13.5-52.4,41.4-101.8,89.6-136.9C787,87.9,868.2,78,942,104.2h0c69.3,28.8,93.8,65.8,126.3,110.5,30.8,41.3,39.4,56.5,60.2,76.9,32.8,30,77.1,49.3,120.5,50.1V469.6h-20v11h20v148h-88v94h-42v-81H975v-19H922v39H826v-100H763.5L568.8,441.8Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-storage-marketing" class="cls-3" d="M1164,716.6v-85h84v85h-84Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-admin" class="cls-3" d="M974,725.6h98v95H974Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-shower2" class="cls-3" d="M1078,734.6h38v50h-38Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-shower1" class="cls-3" d="M1075,786.6h41v34h-41Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-wasser" class="cls-2" d="M347.5,603.4l66.2,123.3-98.8,52.9L248.8,656.3Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-10vorne" class="cls-2" d="M167.6,1043.2h0C70.8,1039.9,2.6,957.9,9.8,869a161.82,161.82,0,0,1,61-113.2c2.9-2.2,3.2-2.5,3.9-3,8.1-6.3,21.7-13.7,20.9-13.2l49-26.2L168,757Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-elevator" class="cls-2" d="M777,725.6h94v90H777Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-stairs" class="cls-3" d="M560,725.7H731v90H560Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-storage-drinks" class="cls-3" d="M551,720.7v99.8H456V771.8Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-kitchen" class="cls-4" d="M317,976.6H176v-98H298v12h19Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-toilet-m2" class="cls-2" d="M420,1042.6H319v-22h9v-96h92Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-toilet-m1" class="cls-3" d="M421,921.6l-93-.1V880.6h56v-2h37Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-living-room" class="cls-2" d="M424,878.6h93v165H424Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-keativ" class="cls-2" d="M674,878.6h74v165H674Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-workspace" class="cls-2" d="M1021,907.6h74v136h-74Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-fitness" class="cls-2" d="M1098,907.6h74v136h-74Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-bmw" class="cls-2" d="M1175,907.6h74v136h-74Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-billard" class="cls-2" d="M1249,904.59v-80h-88v-99l-42,.1v98.9H925v54H906v165h113v-139Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-outside" class="cls-4" d="M1028,645.6H971v-19H925v39H655v51H926v104h45v-112h57Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-balcony" class="cls-3" d="M312,1044.6H181v-63H282v2h30Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-toilet-f3" class="cls-3" d="M1195,761.6h43v29h-43Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-toilet-f2" class="cls-3" d="M1195,792.6h43v29h-43Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-toilet-f1" class="cls-3" d="M1163,761.6h31v60h-31Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-coffee" class="cls-2" d="M763.1,564.9,569.8,445.6c-48.2,64.5-70.3,75.4-114.1,104.7L522,674l-.3.2-206.8,111-68-127-99.1,53.2,28.4,54.1V874.9h746v-51l-470.8.1c-33.4.3-32.4-30.9-19.2-42.6a79.39,79.39,0,0,1,8.9-6.3l109.4-58.2,100.7-.1V660.9" transform="translate(-0.49 0.75)"/>
					<path id="floor-coffee-entrance" class="cls-2" d="M651.2,660.9h171v-96H763.1" transform="translate(-0.49 0.75)"/>
					<path id="floor-balcony-north" class="cls-2" d="M695.1,87.6c-19.7,28.5-26.7,74.1-40,109.7C723.6,88,878,52.7,985.9,124.1c-12.2-15.3-36.9-56-60.8-73.9C853.9-6,745.9,8.3,695.1,87.6Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-nullpointer" class="cls-2" d="M516.1,672.6l-98.8,52.8-66-123.5c15-7.9,30-15.8,45.1-23.9,18.1-9.6,36-19.3,53.7-28.9Q483.1,610.9,516.1,672.6Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-contargo" class="cls-2" d="M903,878.6v165H751v-165H903Z" transform="translate(-0.53 0.73)"/>
					<path id="floor-memory" class="cls-2" d="M671,878.6v165H520v-165H671Z" transform="translate(-0.53 0.73)"/>
				</g>
				<g id="pillars">
					<path id="pillar-25" class="cls-1" d="M1247.5,556.8a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,1247.5,556.8Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-24" class="cls-1" d="M1247.5,346.5a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,1247.5,346.5Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-23" class="cls-1" d="M1056.9,556.8a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,1056.9,556.8Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-22" class="cls-1" d="M919.8,556.8a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,919.8,556.8Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-21" class="cls-1" d="M1056.9,402.5a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,1056.9,402.5Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-20" class="cls-1" d="M826,402.5a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,826,402.5Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-19" class="cls-1" d="M845.9,200.8a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,845.9,200.8Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-18" class="cls-1" d="M1056.9,212.2a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,1056.9,212.2Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-17" class="cls-1" d="M945.9,112.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,945.9,112.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-16" class="cls-1" d="M821.7,96.2a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,821.7,96.2Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-15" class="cls-1" d="M715.1,143.5a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,715.1,143.5Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-14" class="cls-1" d="M629.1,295.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,629.1,295.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-13" class="cls-1" d="M736.1,556.8a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,736.1,556.8Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-12" class="cls-1" d="M574.2,443.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,574.2,443.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-11" class="cls-1" d="M1056.7,1028.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,1056.7,1028.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-10" class="cls-1" d="M1056.7,810.6a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,1056.7,810.6Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-9" class="cls-1" d="M864.1,1028.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,864.1,1028.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-8" class="cls-1" d="M671.5,1028.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,671.5,1028.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-7" class="cls-1" d="M478.9,1028.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,478.9,1028.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-6" class="cls-1" d="M324.9,1028.3a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,324.9,1028.3Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-5" class="cls-1" d="M26,934.14a4.3,4.3,0,1,1,4.24,4.36A4.29,4.29,0,0,1,26,934.14Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-4" class="cls-1" d="M99.9,744.8a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,99.9,744.8Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-3" class="cls-1" d="M370.1,809.1a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,370.1,809.1Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-2" class="cls-1" d="M286.6,644.7a4.3,4.3,0,1,1-4.3,4.3A4.31,4.31,0,0,1,286.6,644.7Z" transform="translate(-0.49 0.75)"/>
					<path id="pillar-1" class="cls-1" d="M1248,1036.9a4.3,4.3,0,1,1,0-8.6h0Z" transform="translate(-0.49 0.75)"/>
				</g>
				<g id="doors">
					<path id="door-outside-elevator2" class="cls-5" d="M826,716.7h38v9H826Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-elevator1" class="cls-5" d="M780,716.7h38v9H780Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-toilet-outside" class="cls-5" d="M1028,659.6h3v33h-3Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-stairs" class="cls-5" d="M686,716.7h33v9H686Z" transform="translate(-0.53 0.73)"/>
					<path id="door-billard-fitness" class="cls-5" d="M1125,904.6h27v3h-27Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-billard" class="cls-5" d="M931,820.6h33v4H931Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-billard" class="cls-5" d="M925,865.6v-33h-4l.11,33Z" transform="translate(-0.53 0.73)"/>
					<path id="door-office-storage-marketing" class="cls-5" d="M1187,627.6h33v4h-33Z" transform="translate(-0.53 0.73)"/>
					<path id="door-billard-admin" data-allowed-users="larrasz@synyx.de jbuch@synyx.de ferstl@synyx.de grammlich@synyx.de krupicka@synyx.de ruessel@synyx.de werner@synyx.de" class="cls-5" d="M999,820.6h33v4H999Z" transform="translate(-0.53 0.73)"/>
					<path id="door-billard-toilet-f1" class="cls-5" d="M1161,789.6h2v27h-2Z" transform="translate(-0.53 0.73)"/>
					<path id="door-shower1-shower2" class="cls-5" d="M1085,784.6h23v2h-23Z" transform="translate(-0.53 0.73)"/>
					<path id="door-billard-shower1" class="cls-5" d="M1116,789.6h3v27h-3Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-coffee-2" data-allowed-users="moeller@synyx.de" class="cls-5" d="M651,673.6h4v33h-4Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-coffee-1" class="cls-5" d="M783,660.1h33v5H783Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-contargo2" class="cls-5" d="M849,874.6h27v4H849Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-contargo1" class="cls-5" d="M774,874.6h27v4H774Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-10vorne" class="cls-5" d="M168,771.16h8.24v27H168Z" transform="translate(-0.53 0.73)"/>
					<path id="door-billard-bmw" class="cls-5" d="M1197,904.6h27v3h-27Z" transform="translate(-0.53 0.73)"/>
					<path id="door-billard-workspace" class="cls-5" d="M1043,904.6h27v3h-27Z" transform="translate(-0.53 0.73)"/>
					<path id="door-toilet-m2-toilet-m2" class="cls-5" d="M413,921.6l-27-.1v3.1h27Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-kreativ" class="cls-5" d="M696,874.6h27v4H696Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-memory-2" class="cls-5" d="M618,874.6h27v4H618Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-memory-1" class="cls-5" d="M543,874.6h27v4H543Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-living-room" class="cls-5" d="M446,874.6h27v4H446Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-kitchen" class="cls-5" d="M253,874.6h27v4H253Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-wasser" class="cls-5" d="M340.71,765.8,364.5,753l2.27,4.22L343,770Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-nullpointer" class="cls-5" d="M438.16,714.2,462,701.42l2.27,4.23-23.79,12.77Z" transform="translate(-0.53 0.73)"/>
					<path id="door-kitchen-balcony" class="cls-5" d="M247,976.6h27v5H247Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-toilet-m1" class="cls-5" d="M413,874.6H386v4h27Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-storage-drinks" class="cls-5" d="M491.43,748.28l23.84-12.68,1.88,3.53-23.84,12.68Z" transform="translate(-0.53 0.73)"/>
					<path id="door-billard-office" class="cls-5" d="M1156.5,722h-33v4l33-.13Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-office-3" class="cls-5" d="M933.5,621.5h33v5h-33Z" transform="translate(-0.53 0.73)"/>
					<path id="door-outside-office-2" class="cls-5" d="M832,660.1h33v5H832Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-office-2" class="cls-5" d="M708.77,526.93l23,14.1-2.5,4.09-23-14.1Z" transform="translate(-0.53 0.73)"/>
					<path id="door-coffee-office-1" class="cls-5" d="M685.76,512.82l23,14.1-2.5,4.09-23-14.1Z" transform="translate(-0.53 0.73)"/>
				</g>
				<defs>
					<pattern id="player-avatar-image-pattern" patternContentUnits="objectBoundingBox" height="100%" width="100%" x="0" y="0">
						<image width="1" height="1" preserveAspectRatio="none" href="{{{player.avatarUrl}}}"></image>
					</pattern>
				</defs>
				<circle id="player-hint" cx="799" cy="692" r="10" stroke="white" stroke-width="10" fill="white">
					<animate attributeType="SVG" attributeName="r" begin="0s" dur="1.5s" repeatCount="indefinite" from="0" to="44"/>
					<animate attributeType="CSS" attributeName="stroke-width" begin="0s"  dur="1.5s" repeatCount="indefinite" from="10" to="0" />
					<animate attributeType="CSS" attributeName="opacity" begin="0s"  dur="1.5s" repeatCount="indefinite" from="1" to="0"/>
				</circle>
				<circle id="player" data-tooltip="{{player.name}}" cx="799" cy="692" r="10" fill="url(#player-avatar-image-pattern)"></circle>
			</svg>
		</div>
	</body>
</html>
